# This is a dockerignore file for react server deployments
# Project: https://gitlab.com/richardnagy/container-environments/server-deployments

.git/
node_modules/
build/

.dockerignore
.gitignore
readme.md
Dockerfile
