# This is a dockerignore file for Dotnet Core server deployments
# Project: https://gitlab.com/richardnagy/container-environments/server-deployments

.git/
.vs/
.DS_Store/
.vscode/
build/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x86/
x64/

.gitignore
msbuild.log
msbuild.err
msbuild.wrn
*.sln.docstates
project.lock.json
*.swp

.dockerignore
Dockerfile
