# This is a dockerignore file for Angular server deployments
# Project: https://gitlab.com/richardnagy/container-environments/server-deployments

.vscode/
.git/
.angular/
node_modules/
dist/
build/

.gitignore
readme.md
README.md
LICENSE

.dockerignore
Dockerfile
