# This is a dockerignore file for Go Mux server deployments
# Project: https://gitlab.com/richardnagy/container-environments/server-deployments

# Folders
.git/

# Files
*.so
*.exe
*.test
*.dll
*.out
go.work
.gitignore
*.log
readme.md
README.md

# Docker files
.dockerignore
Dockerfile
