# This is a dockerignore file for Go Mux server deployments
# Project: https://gitlab.com/richardnagy/container-environments/server-deployments

# Folders
.git/
bin/
test/
pkg/

# Files
*.a
*.so
*.exe
*.test
*.dll
*.out
*.rej
*.log
*.orig
_cgo_*
_obj
_test
_testmain.go
VERSION.cache
go.work
.gitignore
readme.md
README.md

# Docker files
.dockerignore
Dockerfile
